<nav class="navbar  navbar-expand-lg navbar-primary bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav fw-bold ">
        <li class="nav-item ">
          <a class="nav-link active " routerLink="" routerLinkActive="active-link">Tableau de bord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="compt" routerLinkActive="active-link">Mon compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="conso" routerLinkActive="active-link">Ma conso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="abonnements" routerLinkActive="active-link">Mes abonnements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="factures" routerLinkActive="active-link">Mes factures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="vehicules" routerLinkActive="active-link">Mes véhicules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="assistance" routerLinkActive="active-link">Mes Assistance</a>
          </li>
      </ul>
    </div>
  </nav>