<div class="container mt-5">

    <div class="text">
        <h4>N Client: 06584397501</h4>
    </div>
    <div class="row  mt-5 ">
        <div class="col-sm p-3">
            <app-cards
            title="CE QUE JE DIOS"
            prix="20$ TTC"
            link="Mes factures"
            ></app-cards>
        </div>
        <div class="col-sm p-3">
            <app-cards
            title="MES ABONNEMENTS"
            prix="Besion de mon contrat"
            link="Mes abonements"
            ></app-cards>
        </div>
   
    
        <div class="col-sm p-3">
            <app-cards
            title="MON VEHICULES"
            prix=" tybe "
            link="Mes véhicules"
            ></app-cards>
        </div>
    </div>
    <div class="container " style="width:1000px; height:1000px;">
        <div class="row">
            <div class="col-sm-12">
                 <canvas id="myChart" >

                   </canvas>
            </div>
        </div>
       
    </div>
</div>
